body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
}

/* Header */
header {
  background: #0a3d62;
  color: white;
  text-align: center;
  padding: 40px 20px;
}

header h1 {
  margin: 0;
  font-size: 36px;
}

.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background: #25d366;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

/* Products */
.products {
  padding: 40px 20px;
  text-align: center;
}

.product-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.product {
  background: white;
  width: 250px;
  padding: 15px;
  border-radius: 10px;
}

.product img {
  width: 100%;
  border-radius: 8px;
}

/* About */
.about {
  background: white;
  padding: 40px 20px;
  text-align: center;
}

/* Footer */
footer {
  background: #0a3d62;
  color: white;
  text-align: center;
  padding: 15px;
}
h3 {
  color: #000;
  text-align: center;
}